{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accueil</h1>
    <div class="nav-like">
        <a href="{{ path('home_twig') }}" class="bt">Premier twig</a>
        <a href="{{ path('movie_list') }}" class="bt">Liste de films à voir</a>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

