{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accueil</h1>
    <ul>
        <li><a href="{{ path('home_twig') }}">Premier twig</a></li>
        <li><a href="{{ path('movie_list') }}">Liste de films à voir</a></li>
    </ul>
{% endblock %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

