@font-face {
    src: url("/fonts/Luciole-Regular.ttf");
    font-family: "Luciole-Regular";
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Luciole-Regular, Tahoma, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

a {
    color: darkseagreen;
}

.bt {
    text-decoration: none;
    background-color: darkseagreen;
    color: black;
    padding: 1%;
}

.logo {
    width: 30%;
    margin-left: 40%;
}

.alert-success {
    text-align: center;
    background-color: darkseagreen;
    color: white;
    padding: 1%;
}

#movie_form{
    display: flex;
    flex-wrap: wrap;
}
    #movie_form > div {
        margin: 1%;
    }